@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  background: linear-gradient(
      180deg,
      #2e2e2e 0%,
      #050505 99.99%,
      rgba(0, 0, 0, 0) 100%
    ),
    #161616;
  width: 200%;
  height: 65%;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding-top: 2%;
}

.logo {
  width: 220px;
  height: 120px;
  background: no-repeat center url(./assets/scotty_logo.png);
  background-size: contain;
}

.slogan {
  width: 530px;
  height: 100px;
  background: no-repeat center url(./assets/scotty_slogan.png);
  background-size: contain;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  color: #f6faf2;
  font-weight: bold;
}

h2,
h3 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.02em;
}

h2 {
  margin-bottom: 10px;
}

main p {
  font-size: 38px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.02em;
}

.device__mobile {
  display: none;
}

.image {
  position: fixed;
  bottom: 25px;
  width: 60%;
  height: 30%;
  background: no-repeat center url(./assets/scotty_img.png);
  background-size: contain;
  transform: translateX(-1%);
}

@media screen and (min-width: 321px) and (max-width: 424px) {
  .background {
    background: linear-gradient(
        180deg,
        #2e2e2e 0%,
        #050505 99.99%,
        rgba(0, 0, 0, 0) 100%
      ),
      #161616;
    width: 100%;
    height: 65%;
    border-radius: 0;
    overflow: hidden;
  }

  .image {
    width: 95%;
    height: 30%;
    background: no-repeat center url(./assets/scotty_img.png);
    background-size: contain;
    transform: translateX(-1%);
  }

  header {
    justify-content: center;
    width: 100%;
  }

  .logo {
    width: 55%;
    height: 60px;
    margin-bottom: 10px;
  }

  .slogan {
    width: 75%;
    height: 45px;
  }

  main div {
    order: 2;
    align-items: start;
  }

  main p {
    order: 1;
    font-size: 25px;
  }

  h2,
  h3 {
    margin-bottom: 0;
    font-size: 18px;
  }

  h3 {
    line-height: 1.8;
  }

  .device__desktop {
    display: none;
  }

  .device__mobile {
    display: block;
  }
}

@media screen and (min-width: 1px) and (max-width: 320px) {
  .background {
    background: linear-gradient(
        180deg,
        #2e2e2e 0%,
        #050505 99.99%,
        rgba(0, 0, 0, 0) 100%
      ),
      #161616;
    width: 100%;
    height: 65%;
    border-radius: 0;
    overflow: hidden;
  }

  .image {
    width: 95%;
    height: 30%;
    background: no-repeat center url(./assets/scotty_img.png);
    background-size: contain;
    transform: translateX(-1%);
  }

  header {
    justify-content: center;
    width: 100%;
  }

  .logo {
    width: 55%;
    height: 60px;
    margin-bottom: 10px;
  }

  .slogan {
    width: 75%;
    height: 45px;
  }

  main div {
    order: 2;
  }

  main p {
    order: 1;
    font-size: 25px;
  }

  h2,
  h3 {
    margin-bottom: 0;
    font-size: 14px;
  }

  h3 {
    line-height: 1.8;
  }

  .device__desktop {
    display: none;
  }

  .device__mobile {
    display: block;
  }
}
